*{
  margin: 0;
  padding: 0;
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height:50px;
  width: auto;
  background-color:#2b6777;
  padding: 0px;
 }
.Landing_Page{
  width: 100%;
  color: #ffffff;
}
.icons{
  gap: 15px;
  margin-left: auto;
  font-size: 40px;
  display: flex;
  cursor: pointer;
  color: #ffffff;
}
.icons:hover{
  font-size: 100px;
}
main{
  min-width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.me{
  padding: 50px 30px 0px 30px;
  width: 100%;
  overflow-x: hidden;
  height: 200px;
  background-color:#c8d8e4 ;
  font-weight: bolder ;
  color: #ffffff;
  display: flex; /* Use flexbox to align content */
    align-items: center; /* Vertically aligns the image with the text */
    justify-content: space-between;
}
.eesha{
    float: right; 
    margin-left: 15px; 
    width: 150px; 
    height: auto; 
   
   
}
.container{
  display:flex ;
  background-color: #ffffff;
  justify-content: center;
  padding: 20px;
  gap:20px;
  
}
.box1{
 margin: 20px;
 width:30%;
 height:100%;
 border:  solid #f2f2f2;
 padding:10px;
 border-bottom: 4mm ridge rgba(213, 214, 199, 0.6);
}
.box2{
  margin: 20px;
  width:30%;
  height:100%;
  border:  solid #f2f2f2;
  padding:10px;
  border-bottom: 4mm ridge rgba(213, 214, 199, 0.6);
  
}
.box3{
  margin: 20px;
  width:30%;
  height:100%;
  border:  solid #f2f2f2;
  padding:10px;
  border-bottom: 4mm ridge rgba(213, 214, 199, 0.6);
}
.container1{
  
  background-color: #f2f2f2;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}
.copyright{
  font-size: 13px;
  background-color:#52ab98;
  padding: 10px;
 
}
button{
  margin-bottom: 10px;
  padding: 5px;
  background-color: #d5d7d8;
  cursor: pointer;
}
button:hover{
  background-color: cadetblue;
}
/* .social{
display: flex;
height:30px;
}
.social:hover{
  height:40px;
} */